<ion-header>
    <ion-toolbar>
        <ion-title class="app-header">
            Couple Dates
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="login-content">
    <h6 class="new-user-text">New User? <ion-toggle class="toggle-button" [(ngModel)]="newUser"></ion-toggle></h6>
    <ion-list>
        <ion-item *ngIf="newUser">
            <ion-label color="primary" position="stacked">Full Name</ion-label>
            <ion-input type="text" placeholder="please enter your full name" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>

        <ion-item *ngIf="newUser">
            <ion-label color="primary" position="stacked">Contact Number</ion-label>
            <ion-input type="tel" placeholder="how can we contact you?" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="email please?" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <span class="btn-group">
        <ion-button *ngIf="!newUser" color="primary" (click)="signInUser()" disabled="{{email.length === 0 || password.length === 0}}">Sign In</ion-button>
        <ion-button *ngIf="newUser" color="primary" (click)="createNewUser()" disabled="{{email.length === 0 || password.length === 0}}">Sign Up</ion-button>
        <ion-button color="primary" (click)="clearDetails()">Clear</ion-button>
    </span>

    <span *ngIf="errorMessage.length > 0" class="error-message">
        {{errorMessage}}
    </span>

</ion-content>
